fastapi[all]
uvicorn # Can keep this for clarity, though included in fastapi[all]
gunicorn # <--- Add this line
requests
torch
transformers==4.40.2
sentence-transformers
tenacity
mwparserfromhell
chromadb
huggingface_hub
accelerate
bitsandbytes